<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head th:include="include :: header"></head>
<style type="text/css">
html,body{margin:0px; padding: 0px;}
.page-container{
	background-color: #ECEFF4;
}
</style>
<body>
<div class="page-container">
	<div id="page-header">
        <iframe width="100%" src="common/frame/header.html"  frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
    </div>
    <div id="page-content">
    	<iframe width="100%" src="common/frame/content.html"  frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
    </div>
</div>
<head th:include="include :: footer"></head>
</body>
</html>